<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chat">
	 <!-- <insert id="insert">
		insert into CHAT_CLIENT
		values(CHAT_CLIENT_SEQ.nextval,#{chatnum},#{id},#{store},#{contents},#{nickname},sysdate)
	</insert>  -->
	<insert id="insert">
		insert into CHAT_CLIENT
		values(CHAT_CLIENT_SEQ.nextval,'chatnum','id','store',#{contents},#{nickname}, sysdate)
	</insert> 
	
	<select id="selectAll" resultType="dream.tk.dto.ChatDTO">
		select seq, chatnum, id, store, contents, nickname, to_char(write_date, 'HH : MM  am') "write_date" from CHAT_CLIENT order by seq
	</select>
	

</mapper>