<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chat">
	<!-- <insert id="insert"> insert into CHAT_CLIENT values(CHAT_CLIENT_SEQ.nextval,#{chatnum},#{id},#{store},#{contents},#{nickname},sysdate) 
		</insert> -->
	<insert id="insert">
		insert into CHAT_CLIENT
		values(CHAT_CLIENT_SEQ.nextval,#{chatnum},#{nickname},#{store},#{contents},#{nickname},
		sysdate)
	</insert>
	
	<insert id="insertBusiness">
		insert into CHAT_CLIENT
		values(CHAT_CLIENT_SEQ.nextval,#{chatnum},#{nickname},#{store},#{contents},#{store},
		sysdate)
	</insert>
	
	<insert id="insertManager">
		insert into CHAT_MANAGER
		values(CHAT_MANAGER_SEQ.nextval,#{chatnum},'manager',#{store},#{contents},'manager',
		sysdate)
	</insert>
	
	<insert id="insertBizManager">
		insert into CHAT_MANAGER
		values(CHAT_MANAGER_SEQ.nextval,#{chatnum},null,#{store},#{contents},#{store},
		sysdate)
	</insert>

	<select id="selectAll" resultType="dream.tk.dto.ChatDTO">
		select seq, chatnum, id,
		store, contents, nickname, to_char(write_date, 'HH : MM am')
		"write_date"
		from CHAT_CLIENT
		where chatnum = #{chatnum}
		order by seq
	</select>
	
	<select id="selectBusinessAll" resultType="dream.tk.dto.ChatDTO">
		select seq, chatnum, id,
		store, contents, nickname, to_char(write_date, 'HH : MM am')
		"write_date"
		from CHAT_CLIENT
		where chatnum = #{chatnum}
		order by seq
	</select>
	
	<select id="selectAllManager" resultType="dream.tk.dto.ChatAdminDTO">
		select seq, chatnum, id,
		store, contents, nickname, to_char(write_date, 'HH : MM am')
		"write_date"
		from CHAT_MANAGER
		where chatnum = #{chatnum}
		order by seq
	</select>

	<select id="selectList" resultType="dream.tk.dto.ChatDTO">
		select * from chat_client 
		where seq in(select max(seq) from CHAT_CLIENT where chatnum like '%${value}%' group by store) 
		order by seq desc
	</select>
	
	<select id="selectBusinessList" resultType="dream.tk.dto.ChatDTO">
		select * from chat_client 
		where seq in(select max(seq) from CHAT_CLIENT where chatnum like '%${value}%' group by id) 
		order by seq desc
	</select>
	
	<select id="selectAdminList" resultType="dream.tk.dto.ChatAdminDTO">
		select * from chat_manager 
		where seq in(select max(seq) from CHAT_MANAGER where chatnum like '%manager%' group by store) 
		order by seq desc
	</select>
	
	<delete id="deleteChatRoom">
		delete from chat_client where chatnum = #{chatnum}
	</delete>

</mapper>