<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cMember">

	<select id="idCheck" resultType="int">
		select count(*) from
		client_member where id=#{id}
	</select>

	<insert id="signup">
		insert into client_member
		values(client_member_seq.nextval,
		#{id}, #{pw}, #{email}, #{name},
		#{yob}, #{nation}, #{agree}, 0, sysdate,'C')
	</insert>

	<insert id="insert">
		insert into client_member
		values(client_member_seq.nextval,
		#{id}, #{pw}, #{email}, #{name},
		#{yob}, #{nation}, #{agree}, 0, #{reg_date},'C')
	</insert>

	<update id="update">
		update client_member
		<trim prefix="set" prefixOverrides=",">
		<if test="pw!=''">
			pw=#{pw}
		</if>
		<if test="email!=''">
			,email=#{email}
		</if>
		<if test="yob!=''">
			,yob=#{yob}
		</if>
		<if test="nation!=''">
			,nation=#{nation}
		</if>
		</trim>
		where id=#{id}
	</update>
	
	<select id="currentPW" resultType="String">
		select pw from client_member where id=#{value}
	</select>

	<delete id="delete">
		delete from client_member where id=#{value}
	</delete>

	<select id="login" resultType="int">
		select count(*) from client_member
		where id=#{id} and pw=#{pw}
	</select>

	<select id="matchNameEmail" resultType="int">
		select count(*) from
		client_member where name=#{name} and email=#{email}
	</select>

	<select id="findID" resultType="String">
		select id from
		client_member where
		name=#{name} and email=#{email}
	</select>

	<select id="matchIdNameEmail" resultType="int">
		select count(*) from
		client_member where id=#{id} and name=#{name} and email=#{email}
	</select>

	<update id="resetPW">
		update client_member set pw=#{pw} where id=#{id}
	</update>

	<select id="getInfo" resultType="dream.tk.dto.ClientMemberDTO">
		select * from client_member
		where
		id=#{value}
	</select>

</mapper>