<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cMember">

	<select id="idCheck" resultType="int">
		select count(*) from
		client_member where id=#{id}
	</select>

	<insert id="insert">
		insert into client_member values(client_member_seq.nextval,
		#{id}, #{pw}, #{email}, #{name}, #{yob}, sysdate)
	</insert>

	<update id="update">
		update client_member set pw=#{pw},
		email=#{email}, name=#{name}, yoerOfBirth=#{yob}, reg_date=sysdate 
		where id=${id}
	</update>

	<delete id="delete">
		delete from client_member where id=#{value}
	</delete>

	<select id="login" resultType="int">
		select count(*) from client_member
		where id=#{id} and pw=#{pw}
	</select>

	<select id="getInfo" resultType="dream.tk.dto.AdminMemberDTO">
		select * from client_member where
		id=#{value};
	</select>

</mapper>