<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ResMapper">
  
  <select id="dayoff" resultType="java.lang.String">
	<![CDATA[
	SELECT (TO_CHAR((TO_DATE('20210101', 'YYYYMMDD')+ (LEVEL*7)),'yyyy-MM-dd')) from dual CONNECT BY LEVEL <= 52
	]]>
	</select>
  
  <delete id="resDelete">
  delete from reservation where res_no = #{res_no}
  </delete>
  
  <!-- 정액권 결제 -->
  <insert id="resPay">
 insert into res_payment values (pay_seq.nextval,#{memberId},#{imp_uid},#{merchant_uid},#{biz_email},sysdate,#{card_no},#{price},0)
  </insert>
  <!-- 정액권 할인 muid 가져오기 -->
  <select id="refundPay" resultType="java.lang.String">
	select merchant_uid from res_payment where memberId= #{memberId}
  </select>
  
  </mapper>