<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StoreBu">

	<!-- 게시글 불러오기 -->
	<select id="selectAll" resultType="dream.tk.dto.BusinessDTO">
		select * from business 
		<!--order by grade desc-->
	</select>

	<select id="getSeq" resultType="int">
		select biz_seq.nextval from
		dual
	</select>

	<select id="select" resultType="dream.tk.dto.BusinessDTO">
		select * from business where
		biz_seq = ${value}
	</select>

	<!-- 상호명 불러오기 -->
	<select id="getInfo" resultType="dream.tk.dto.BusinessDTO">
		select * from business where
		seq=#{value}
	</select>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		select count(*) from business
	</select>
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="dream.tk.dto.BusinessDTO">
		SELECT *
		FROM (
		SELECT ROWNUM
		RN, A.*
		FROM (
		SELECT *
		FROM business
		ORDER BY biz_seq DESC
		) A
		)
		WHERE RN
		BETWEEN #{start} AND #{end}
	</select>


	<!-- 조회수 -->
	<update id="count">
		update business set view_count = view_count+1 where
		biz_seq =
		#{biz_seq}
	</update>


	<!-- 검색 다중 마커 및 마커 조회 -->
	<select id="getList" parameterType="dream.tk.dto.BusinessDTO"
		resultType="dream.tk.dto.BusinessDTO">
		SELECT
		BusinessName,
		address1,
		biz_seq,
		address1kor
		FROM
		business
		WHERE
		<!-- <if test="searchWrd != null and searchWrd !=''"> -->
		(BusinessName LIKE '%${searchWrd}%' or
		address1 LIKE '%${searchWrd}%'  )
		<!-- </if> -->
	</select>

<select id="getListByBizType" resultType="dream.tk.dto.BusinessDTO">
 SELECT * FROM business WHERE biz_type = #{biz_type}
</select>

</mapper>