<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="Store">
	
	<!-- 게시글 불러오기 -->
	<select id="selectAll" resultType="dream.tk.dto.StoreDTO">
		select * from store order by
		grade desc
	</select>

	<select id="getSeq" resultType="int">
		select store_seq.nextval from
		dual
	</select>

	<select id="select" resultType="dream.tk.dto.StoreDTO">
		select * from store where
		Store_seq = ${value}
	</select>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		select count(*) from store
	</select>
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="dream.tk.dto.StoreDTO">
		SELECT *
		FROM (
		SELECT ROWNUM
		RN, A.*
		FROM (
		SELECT *
		FROM STORE
		ORDER BY STORE_SEQ DESC
		) A
		)
		WHERE RN
		BETWEEN #{start} AND #{end}
	</select>


	<!-- 조회수 -->
	<update id="count">
		update store set count = count+1 where store_seq =
		#{store_seq}
	</update>


	<!-- 검색 다중 마커 및 마커 조회 -->
	<select id="getList"  parameterType="dream.tk.dto.StoreDTO" resultType="dream.tk.dto.StoreDTO">
		SELECT
			Store,
			road_name
		FROM
			store
		WHERE
		 <!--  <if test="searchWrd != null and searchWrd !=''">--> 
			(Store LIKE '%${searchWrd}%'   or
			road_name LIKE '%${searchWrd}%')
		 <!--  </if> -->
	</select>
	
	
</mapper>